@import '../../src/styles/variables';

.topHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 1rem;
    }
}

.headerContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 8px 14px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.perks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: .75rem;

    span {
        color: $gray;
        font-weight: 500;
    }

    strong {
        color: $purple;
        font-weight: 600;
    }
}

.middleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 0;
    border-top: 1px solid #F0F0F0;

    nav ul {
        display: flex;
        gap: 2rem;
    }

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        gap: 1rem;
    }
}

.searchWrapper {
    position: relative;
    width: 630px;

    Input {
        width: 100%;
        padding: 14px 16px;
        box-sizing: border-box;
        border: 1px solid #F6F5F2;
        border-radius: 0.625rem;
        font-size: .875rem;
        background-color: #F6F5F2;
        font-weight: 500;

        &::placeholder {
            color: $gray;
        }
    }

    img {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: $breakpoint-tablet) {
        width: 300px;
    }
}

.navigation {
    box-shadow: 0 8px 16px 0 rgba(57, 48, 19, 0.12);
    padding: 10px 0;
    border-top: 1px solid #F0F0F0;

    ul {
        display: flex;
        gap: 3.5rem;
        align-items: center;
        justify-content: center;

        li {
            text-align: center;
            color: $gray;
            font-weight: 600;
            transition: .3s;

            &:hover {
                color: $purple;
            }

            &:nth-last-child(2) {
                color: $purple;
            }
        }

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            gap: 1rem;
        }
    }

    .subscription {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}